:root {
    --container-width: 1180px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}

.sectionNone {
    display: none;
}

p {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
}




.cellHover {
    background-color: rgb(72, 255, 0);
}
.cellBorder {
    background-color: transparent !important;
    border: 0;
}

.cellShipBg {
    background-color: rgb(240, 50, 2);
}

.blockCells {
    background-color: rgb(143, 163, 160);
}

.cellHidden {
    background-color: #fff;
}





h1 {
    text-align: center;
    color: #000;
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
}

button {
    width: 150px;
    border: 1px solid rgb(72, 255, 0);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 14, 138);
    font-size: 14px;
}

button + button {
    margin-left: 20px;
}

.main__random-btn--width {
    width: auto;
}

table {
    border-spacing: 0px;
    margin: 0;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
}

.main {
    position: relative;
    padding-top: 20px;
    height: 100vh;
    background-size: 100%;
}

.main__title {
    transform: rotate(-90deg);
    transition: 2s;

}


.fields {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.main__btnHide {
    content: '';
    position: absolute;
    left: calc(90% - 30px);
    top: 25px;
    width: 60px;
    height: 30px;
    overflow: hidden;
}

.main__btnHideIcon {
    width: 100%;
    height: 100%;
}

.main__set-ships {
    margin-left: 50px;  
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__players {
    flex-basis: 33%;
    text-align: center;
}

.battle-field {
    background-color: #fff;
}

.main__ships-type {
    display: flex;
    align-items: center;
}

.main__ships-type-label {
    display: flex;
}

.main__ships-type-icon {
    width: 40px;
    height: 40px;
}

.main__ships {
    padding-bottom: 30px;
}
.main__ships-type + .main__ships-type {
    padding-top: 7px;
}

.main__battle-btn {
    display: block;
    margin: 0 auto;
    background-color: rgb(240, 50, 2);
}

.main__enemyField {
    margin-left: 70px;
}

.main__set-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.main__set-buttons-build {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

